<div>
    <h2 id="page-heading">
        <span jhiTranslate="App.employment.home.title">Employments</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-employment" [routerLink]="['/employment/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="App.employment.home.createLabel">
            Create new Employment
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="employments">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="App.employment.position">Position</span></th>
            <th><span jhiTranslate="App.employment.employee">Employee</span></th>
            <th><span jhiTranslate="App.employment.manager">Manager</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let employment of employments ;trackBy: trackId">
                <td><a [routerLink]="['/employment', employment.id, 'view' ]">{{employment.id}}</a></td>
                <td>{{employment.position}}</td>
                <td>
                    <span *ngFor="let employee of employment.employees; let last = last">
                            <a class="form-control-static" [routerLink]="['../employee', employee?.id, 'view' ]">{{employee.lastName}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <span *ngFor="let manager of employment.managers; let last = last">
                            <a class="form-control-static" [routerLink]="['../employee', manager?.id, 'view' ]">{{manager.lastName}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/employment', employment.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/employment', employment.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'employment/'+ employment.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
