<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="task">
            <h2><span jhiTranslate="App.task.detail.title">Task</span> {{task.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="App.task.title">Title</span></dt>
                <dd>
                    <span>{{task.title}}</span>
                </dd>
                <dt><span jhiTranslate="App.task.assignedDate">Assigned Date</span></dt>
                <dd>
                    <span>{{task.assignedDate}}</span>
                </dd>
                <dt><span jhiTranslate="App.task.dueDate">Due Date</span></dt>
                <dd>
                    <span>{{task.dueDate}}</span>
                </dd>
                <dt><span jhiTranslate="App.task.employment">Employment</span></dt>
                <dd>
                    <div *ngIf="task.employment">
                        <a [routerLink]="['/employment', task.employment?.id, 'view']">{{task.employment?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/task', task.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
